.BoardDisplay-container {
  width: 84%;
  overflow: hidden;
  display: flex;
  flex-direction: column;
}

.BoardDisplay-boardInfo {
  display: flex;
  flex-direction: row;
  height: 24%;
}

.BoardDisplay-cardGrid {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  margin: var(--m);
  gap: var(--m);
}

.SmallShoeCard-container {
  display: flex;
  flex-direction: column;
  border-radius: var(--s);
  width: 20%;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
  padding: var(--s);
}

.SmallShoeCard-image {
}

.SmallShoeCard-brand {
  margin: 0;
}

.SmallShoeCard-name {
  margin: 0;
  font-weight: 700;
}
