.BoardDisplay-container {
  width: 84%;
  overflow: hidden;
  display: flex;
  flex-direction: column;
}

.BoardDisplay-boardInfo {
  display: flex;
  flex-direction: row;
  height: 24%;
  padding: var(--l);
  gap: var(--m);
}

.BoardDisplay-boardImage {
  border-radius: var(--s);
  float: left;
  width: 300px;
  height: full;
  object-fit: cover;
}

.BoardDisplay-boardText {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  margin: 0;
  width: 300px;
}

.BoardDisplay-boardName {
  font-weight: 700;
  font-size: 40px;
  margin: 0;
}

.BoardDisplay-boardDescription {
  margin: var(--s) 0;
}

.BoardDisplay-properties {
  font-size: 12px;
  margin: 0;
}

.BoardDisplay-buttonList {
  display: flex;
  flex-direction: column;
  gap: var(--s);
  padding: var(--l);
}

.BoardDisplay-button {
  border-radius: 50%;
  height: 40px;
  width: 40px;
  background-color: var(--secondary);
  color: var(--white);
  margin: 0;
  justify-content: center;
  align-items: center;
  display: flex;
}

.BoardDisplay-buttonIcon {
  height: 20px;
  width: 20px;
}

.none-selected {
  padding: var(--l);
}
