.EditBoard-container {
  width: 84%;
  overflow: hidden;
  display: flex;
  flex-direction: column;
}

.EditBoard-form {
  background-color: var(--grey);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: var(--m);
  border-radius: var(--m);
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
}

.EditBoard-name {
}

.EditBoard-displayImage {
  width: 300px;
  height: full;
  object-fit: cover;
}
