.NavBar-container {
  display: flex;
  flex-direction: row;
  align-items: center;
  background-color: var(--primary);
  border-bottom: 1px solid #ddd;
  gap: var(--l);
  height: 56px;
  padding-left: var(--m);
}

.NavBar-link {
  margin: 0;
  color: var(--medgrey);
  text-decoration: none;
}

.NavBar-link:focus {
  color: var(--white);
}

.NavBar-logo {
  width: 120px;
}

.NavBar-profile {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: var(--m);
  justify-content: flex-end;
}
