.NavBar-container {
  display: flex;
  flex-direction: row;
  align-items: center;
  background-color: #fff;
  border-bottom: 1px solid #ddd;
  gap: var(--m);
  height: 56px;
}

.NavBar-link {
  margin: 0;
}

.NavBar-logo {
  height: 56px;
  width: 56px;
}

.NavBar-profile {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: var(--m);
  justify-content: flex-end;
}
